CATALOG_DB_URL=postgresql+asyncpg://postgres:password@catalog-db:5432/catalog_db
CATALOG_DB_USER=postgres
CATALOG_DB_PASSWORD=password
CATALOG_DB_NAME=catalog_db
CATALOG_DB_HOST=catalog-db
CATALOG_DB_PORT=5433

DB_ECHO=false
TESTING=false

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
INVENTORY_DB_URL=postgresql+asyncpg://postgres:password@inventory-db:5432/inventory_db
INVENTORY_DB_USER=postgres
INVENTORY_DB_PASSWORD=password
INVENTORY_DB_NAME=inventory_db
INVENTORY_DB_HOST=inventory-db
INVENTORY_DB_PORT=5432
INVENTORY_RESERVATION_TTL_SECONDS=900
