CATALOG_DB_URL=postgresql+asyncpg://postgres:password@catalog-db:5432/catalog_db
CATALOG_DB_USER=postgres
CATALOG_DB_PASSWORD=password
CATALOG_DB_NAME=catalog_db
CATALOG_DB_HOST=catalog-db
CATALOG_DB_PORT=5432
DB_ECHO=false
